<table class="table table-striped table-hover">
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Correo</th>
      <th>GitHub</th>
    </tr>
    <tr>
      <td>Marco Wanly</td>
      <td>Obregon</td>
      <td>marco.obregon@utec.edu.pe</td>
      <td>Wanly Obregon</td>
    </tr>
    <tr>
      <td>Salvador</td>
      <td>Sael</td>
      <td>salvador.sael@utec.edu.pe</td>
      <td>Sael-i</td>
    </tr>
    <tr>
        <td>Pulsatio</td>
        <td>xxxxxx</td>
        <td>xxxx.xxx@utec.edu.pe</td>
        <td>pulss</td>
    </tr>
  </table>