<table class="table table-striped table-hover">
    <tr>
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Correo</th>
      <th>GitHub</th>
    </tr>
    <tr>
      <td>Pedro</td>
      <td>Dominguez</td>
      <td>pedro.dominguez@utec.edu.pe</td>
      <td>PedroDominguezUTEC</td>
    </tr>
    <tr>
      <td>Luis</td>
      <td>Izaguirre</td>
      <td>luis.izaguirre@utec.edu.pe</td>
      <td>LuisIZ</td>
    </tr>
    <tr>
        <td>Marco Wanly</td>
        <td>Obregon</td>
        <td>marco.obregon@utec.edu.pe</td>
        <td>Wanly Obregon</td>
    </tr>
    <tr>
        <td>Dafne</td>
        <td>Ore</td>
        <td>dafne.ore@utec.edu.pe</td>
        <td>DafneOre</td>
    </tr>
  </table>