<div class="jumbotron jumbotron-fluid" *ngIf="place">
  <div class="container">
    <h1 class="display-4">{{place.nombre}}</h1>
    <p class="lead">{{place.descripcion}}. Que tal te parecio este lugar? </p>
  </div>
</div>
<br>

<div class="container" >
  <div class="card text-white bg-primary mb-3"   style="max-width: 5rem;">
    <div class="card-header">Puntos</div>
    <div class="card-body">
      <h5 class="card-title">{{place.ranking}}</h5>
    </div>
</div>  

</div>
<div>
  <button type="button" class="btn btn-secondary" routerLink="/P2">
    REGRESAR
  </button>
</div>
<br>
<div>
  <button type="button" class="btn btn-primary" routerLink="trivia">
    TRIVIA
  </button>
</div>


<br>
<table title="Comentarios" class="table table-striped">
  <title>Comentarios</title>
  <thead >
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Comentario</th>
      <th scope="col"> Puntaje</th>
      <th scope="col">Fecha</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of comments"> 
    <th> {{item.name_user}} </th> 
    <th>{{item.lname_user}}</th>
    <td>{{item.coments_user}}</td>
    <td>{{item.points_obtained}}</td>
    <td>{{item.time_comment}}</td>
  </tr>
</tbody>
</table>
