h1 {
    font-family: Verdana;
    font-family: 'PT Sans'; 
    text-align: center;
}
h2 {
    font-family: Verdana;
    font-family: 'PT Sans'; 
    text-align: center;
    font-size: 15px;
}
h5 {
    font-family: Verdana;
    font-family: 'PT Sans'; 
    text-align: center;
}

div{
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container{
    align-items: center;
    justify-content: center;
    
}