<br>
<br>
<br>
<br>
<br>
<br>



<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold">Trivia!!!!</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Te retamos a que presiones el boton de trivia si crees poder responder las siguientes preguntas relacionadas a este lugar turistico</p>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="https://quizizz.com/join?gc=25357249">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Museo Larco</button>
      </a>
    </div>

    <br>

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="https://quizizz.com/join?gc=47573953">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Islas Palomino</button>
      </a>
    </div>

    <br>  

    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <a href="https://quizizz.com/join?gc=06429633">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Plaza de Armas</button>
      </a>
    </div>

  </div>
</div>


